<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rockwoodtests.costrack">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PhotoReferenceViewer"
            android:label="@string/title_activity_cosplay_reference_viewer"
            android:parentActivityName=".EditCosplay"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rockwoodtests.costrack.EditCosplay" />
        </activity>
        <activity
            android:name=".ImageViewer"
            android:label="@string/title_activity_image_viewer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditComponent"
            android:label="@string/title_activity_edit_component"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rockwoodtests.costrack.EditCosplay" />
        </activity>
        <activity
            android:name=".NewComponent"
            android:label="@string/title_activity_new_component"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rockwoodtests.costrack.EditCosplay" />
        </activity>
        <activity
            android:name=".EditCosplay"
            android:label="@string/title_activity_edit_cosplay"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rockwoodtests.costrack.MainActivity" />
        </activity>
        <activity
            android:name=".NewCosplay"
            android:label="@string/title_activity_new_cosplay"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rockwoodtests.costrack.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
    </application>

</manifest>